<div class="form">
<form>
    <div class="form-group">
        <label for="contactMeForm">Name</label>
        <input type="text" class="form-control" placeholder="Eg: John Doe">
    </div>
    <div class="form-group">
        <label for="contactMeForm">Email-Id</label>
        <input type="email" class="form-control" placeholder="Eg: johndoe@example.com">
    </div>
    <div >
        <label for="contactMeForm">Your Message</label>
        <textarea class="form-control" placeholder="Your message" rows="4"></textarea>
    </div>
    <div class="button">
        <button class="form-control" style="background-color: #ebebeb;" type="submit">Submit</button>
    </div>
</form>
</div>