<!-- Image and text -->
<head>
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
     
</head>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../assets/IMG_5322.JPG  "  class=" profilepicture d-inline-block align-top" alt="sanjay's img"> 
    <div class="col navbar-brand intro">
    <div class="row"><div class="" href="/home">
      Sanjay S   
    </div>
    </div>
    <div class="row">
      <div class="title" href="/home">
      Photography Portfolio  
      </div>
      <div class="camicon">
      <svg xmlns="http://www.w3.org/2000/svg"  width="22"  fill="currentColor" class="bi bi-camera2" viewBox="0 0 16 16">
        <path d="M5 8c0-1.657 2.343-3 4-3V4a4 4 0 0 0-4 4z"/>
        <path d="M12.318 3h2.015C15.253 3 16 3.746 16 4.667v6.666c0 .92-.746 1.667-1.667 1.667h-2.015A5.97 5.97 0 0 1 9 14a5.972 5.972 0 0 1-3.318-1H1.667C.747 13 0 12.254 0 11.333V4.667C0 3.747.746 3 1.667 3H2a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1h.682A5.97 5.97 0 0 1 9 2c1.227 0 2.367.368 3.318 1zM2 4.5a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0zM14 8A5 5 0 1 0 4 8a5 5 0 0 0 10 0z"/>
      </svg>
    </div>
    </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="myportfolio">Showcase <span class="sr-only"></span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="contactme">Contact Me <span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav> 
  <div id="welcome" *ngIf="this.welcomeflag">Welcome!</div>
<router-outlet></router-outlet>                         