<!-- Image and text -->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar py-3 navbar-light bg-light">
    <img class =""src="https://pbs.twimg.com/profile_images/1016997200289648640/Nd3_K-Ce_400x400.jpg" width="50" height="50" class="d-inline-block align-top" alt="kct logo">
    <a class="navbar-brand ml-1" href="/home">
      Kumaraguru College of Technology      
    </a>        
  </nav>
<router-outlet></router-outlet>                     