.intro{
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 5rem;
    margin-left: 1.75rem;
    font-size: 1.75rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 3.5rem;
}

.profilepicture{
    width: 50px;
    border-radius: 50%;
}
.title{
    font-size: 20px;

}
.camicon{
    margin: -4px 0 0 7px;
}
/* desktop */
@media only screen and (min-width: 768px){
.profilepicture{
    width: 100px;
}
}
