<!-- Image and text -->
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img class ="" src="https://pbs.twimg.com/profile_images/1016997200289648640/Nd3_K-Ce_400x400.jpg" width="60" height="60" class="d-inline-block align-top" alt="kct logo">
    <a class="navbar-brand intro" href="/home">
      Kumaraguru College of Technology      
    </a>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="getcourses">Programs & Courses </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Photo Gallery</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Campus Life</a>
      </li>
    </ul>
  </nav>
<router-outlet></router-outlet>                         