<div id="welcome">Welcome!</div>
<div class="row" style="margin-right: auto; padding: 15px 0 0 0;">
    <div class="col imgdiv">
            <img id="profilephoto"  class="img-responsive img-center" src="assets/IMG_5990.JPG" width="350px" alt="img">
    </div> 

    <div class="col">
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
        random text random text random text random text
    </div>
</div>

