<!-- <div id="welcome">Welcome!</div> -->
<div class="row" style="margin-right: auto; padding: 15px 0 0 0;">
    <div class="col imgdiv">
            <img id="profilephoto"  class="img-responsive img-center" src="assets/IMG_5990.JPG" width="350px" alt="img">
    </div> 

    <div class="col">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec pharetra purus, ac cursus lacus. Vestibulum ut eleifend ipsum. Morbi sed rhoncus metus. Donec felis enim, porta nec malesuada ac, efficitur nec metus. Integer volutpat sem vitae dolor luctus eleifend. Fusce non ultrices eros, non aliquam eros. Vestibulum consectetur est nisi, eu facilisis orci euismod at. Suspendisse tempus, massa sit amet condimentum auctor, augue tellus scelerisque nibh, ullamcorper hendrerit metus tortor quis dolor. Ut porttitor nisl id lacinia faucibus.

        Duis in sagittis ante. Praesent luctus mi id malesuada convallis. Ut volutpat a nisl vitae blandit. Etiam at ipsum vel metus vehicula pulvinar. Integer a tortor commodo, vehicula ante sed, tincidunt erat. Integer id tincidunt elit. Curabitur ac ultrices nisi. Ut non laoreet leo. In id tincidunt libero. Quisque lobortis nunc libero, non faucibus lorem iaculis et. Ut turpis sapien, elementum id nisi in, faucibus scelerisque diam. Quisque sed augue cursus, convallis neque at, aliquet sem. Etiam felis lorem, fringilla non lectus quis, vestibulum scelerisque lorem. Aenean massa erat, gravida quis commodo et, tempor id ante.
    </div>
</div>

